@media screen and (max-width: 873px) {

    section {
        padding-left: 2rem;
        padding-right: 2rem;
    }


    .btn-pink-download {
        margin-bottom: 1rem;
        padding: 1rem 1.5rem;
        border: 0;
        border-radius: 50px;
        font-size: 1rem;
        background-color: #DD3F98;
        color: #FFF;
        font-weight: 600;   
        margin-right: 1.5rem;
    }



}

@media screen and (max-width: 1230px) {
    .intro-section{
        padding-right: 8vw;
        padding-left: 8vw;
    }
    .fullscreen-first-page {
        height: 105vh;
    }

    .card-custom{
        display: flex;
        position: relative;
        flex-direction: row;
        height: 40vh;
        border-radius: 1.4rem;
        padding: 5vh 5vh 1vh 5vh;
    }
    .card-brown{
        background: linear-gradient(to bottom, rgba(91, 4, 13, 0.88), rgba(91, 4, 13, 0.359));
    }

    .card-blue {
        background: linear-gradient(to bottom, rgba(102, 154, 193, 1), rgba(205, 222, 235, 1));
    }
    .custom-text-banner{
        font-weight: 700;
        font-size: 4vh;
    }
    .card-custom-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 75%;
    }
    .card-custom-img-left {
        left: -1rem;
    }
    .card-custom-img-right {
        right: -1rem;
    }

    .font-size-smaller{
        font-size: small;
    }
}

@media screen and (max-width: 768px) {
    .fullscreen-first-page {
        height: auto;
    }
}

@media screen and (max-width: 1440px) {
    
    #discover{
        padding: 0px 5vw;
    }

}
